body {
    margin: 0;
    padding: 0;
}

header {
    color: white;
    background-color: rgb(255, 67, 67);
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

header p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    text-align: center;
    margin: 0;
}

header a{
    text-decoration: none;
    color: black;
    width: 100px;
    height: 60px;
    background-color: white;
    font-size: 11.5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 10px; 
    right: 10px; 
    font-family:'Courier New', Courier, monospace ;
}
.pokemon1{
    text-align: center;
}
.adicionarPokemons{
    text-decoration: none;
    color:white;
    width: 100px;
    height: 60px;
    background-color: rgb(255, 67, 67);
    font-size: 14px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -70px;
    left: 92%;
    font-family: 'Courier New', Courier, monospace;

  
    
    
}
.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 

}
  
  .pokemon {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin: 5px;
    background-color: #fff;
    border-radius: 8px;
    width: calc(16.66% - 10px); 
    box-sizing: border-box; 
    
  }
  
  .pokemon-image {
    width: 100px;
    height: 100px;
  }
  .pokemon a {
    text-decoration: none;
    color: black;
  }
  .water {
    background-color: #3498db; 
  }
  
  .fire {
    background-color: #e74c3c;
  }
  .electric {
    background-color: #f1c40f; 
  }
  
  .poison {
    background-color: #95a5a6; 
  }
  .grass{
    background-color: #2ecc71;
  }
  .rock {
    background-color: #bdc3c7;
  }
  
  .normal {
    background-color: #ecf0f1;
  }
  
  .dragon {
    background-color: #3498db; 
  }
  .ground{
    background-color:#8b572a
  }
  .fairy{
    background-color:#ffe993;
  }
  .fighting{
    background-color:rgb(125, 0, 0);
  }
  .psychic{
    background-color: #9b59b6;
  }
  .bug {
    background-color: #2ecc71; 
  }
  .ice {
    background-color:#a9cce3 ;

  }
  .selected-image{
    border: 2px solid black; 
    box-shadow: 0 0 10px white; 
    border-radius: 5px; 
  }
  .pokemon-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    max-height: 80%;
    overflow-y: auto;
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color:red;
    font-size: 25px;
  }
  
  
  
  
  
